body {
    background-image: url("utab.png");
    background-size: cover;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color:#2C3539;
    text-align: center;
}
#container {
    background-color: #F0F8FF;
    width: 400px;
    margin: 100px auto;
    padding: 40px;
    border: 1px solid #0000CD;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #191970;
}

#save-btn {
    background: #008000;
}

#undo-btn {
    background: #B22222;
}
